@model Vidly.Models.Movie
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @if (Model == null)
    {
        <text>Movie Not Found</text>
    }
    else
    {
        @Model.Name;
    }
</h1>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToString("dddd, MMMM d, yyyy")</li>
    <li>Date Added: @Model.DataAdded.ToString("dddd, MMMM d, yyyy")</li>
    <li>Number in Stock: @Model.StockQuantity</li>
</ul>